<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
    Choose a survey from the list below:
    <accordion close-others="oneAtATime">
        <accordion-group heading={{survey.Name}} ng-repeat="survey in allSurveys" style="cursor: pointer;">
            <form novalidate class="css-form">
                <div class="well" ng-repeat="question in survey.QuestionAnswers">
                    <p>{{question.Question}}</p>
                    <span ng-if="question.AnswerType == 'Text'">
                    <input type="Text" ng-model="question.Answer"/>
                </span>
                    <div ng-if="question.AnswerType == 'YesNo'" class="btn-group">
                        <span ng-repeat="answerOption in question.AnswerOptions">
                            <input type="radio" ng-model="question.Answer" value="{{answerOption}}">{{answerOption}}<br/>
                        </span>
                    </div>
                    <span ng-if="question.AnswerType == 'Dropdown'">
                        <select ng-model="question.Answer" ng-options="answerOption for answerOption in question.AnswerOptions">
                        </select>
                    </span>
                </div>
                <button class="btn btn-primary" ng-click="submitSurvey(survey)"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Submit</button>
                <!--<input type="submit" ng-click="submitSurvey(survey)" value="Submit" />-->
            </form>
        </accordion-group>
    </accordion>
</div>