<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
    Choose a survey from the list below:
    <accordion close-others="oneAtATime">
        <accordion-group heading={{survey.Name}} ng-repeat="survey in allSurveys" style="cursor: pointer;">
            <form novalidate class="css-form">
                <div class="well" ng-repeat="question in survey.QuestionAnswers">
                    <p>{{question.Question}}</p>
                    <span ng-if="question.AnswerType == 'Text'">
                    <input type="Text" ng-model="question.Answer"/>
                </span>
                    <div ng-if="question.AnswerType == 'YesNo'" class="btn-group">
                        <span ng-repeat="answerOption in question.AnswerOptions">
                        <input type="radio" name="radioAnswerGroup" ng-model="question.Answer" value="{{answerOption}}">{{answerOption}}<br/>
                    </span>
                    </div>
                    <span ng-if="question.AnswerType == 'Dropdown'">
                    <!--<select ng-repeat="answerOption in question.AnswerOptions">
                        <option type="checkbox" name="checkboxAnswerList" ng-model="question.Answer" value="answerOption">{{answerOption}}</label>
                    </select>-->
                        <div class="btn-group" dropdown is-open="status.isopen">
                            <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle ng-disabled="disabled">Button dropdown <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Action</a>
                                </li>
                                <li><a href="#">Another action</a>
                                </li>
                                <li><a href="#">Something else here</a>
                                </li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a>
                                </li>
                            </ul>
                        </div>
                    </span>
                </div>
                <input type="submit" ng-click="submitSurvey(survey)" value="Submit" />
            </form>
        </accordion-group>
    </accordion>
</div>