<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
    Choose a survey from the list below:
    <accordion close-others="oneAtATime">
        <accordion-group heading={{survey.Name}} ng-repeat="survey in allSurveys" style="cursor: pointer;">
            <form novalidate class="css-form">
                <input type="button" ng-click="addQuestion(survey)" value="Add Question" />
                <div class="well" ng-repeat="question in survey.QuestionAnswers">
                    <div>
                        <p>Question Text:</p>
                        <textarea type="text" ng-model="question.Question" />
                    </div>
                    <div class="btn-group">
                        <p>Choose Response Type:</p>
                        <span>
                            <input type="radio" value="YesNo" ng-model="question.AnswerType"/>YesNo<br/>
                            <input type="radio" value="Text" ng-model="question.AnswerType"/>Text<br/>
                            <input type="radio" value="Dropdown" ng-model="question.AnswerType"/>Dropdown<br/>
                        </span>
                        <div class="btn-group">
                            <div ng-show="question.AnswerType == 'YesNo'">
                                <input type="button" ng-click="addAnswerOption(question)" value="add answer option" />
                                <div ng-repeat="answerOption in question.AnswerOptions track by $index">
                                    <input type="text" ng-model="question.AnswerOptions[$index]" value="answerOption" />
                                    <input type="button" ng-click="deleteAnswerOption($index, question)" value="remove" />
                                </div>
                            </div>
                            <div ng-show="question.AnswerType == 'Dropdown'">
                                <input type="button" ng-click="addAnswerOption(question)" value="add answer option" />
                                <div ng-repeat="answerOption in question.AnswerOptions  track by $index">
                                    <input type="text" ng-model="question.AnswerOptions[$index]" value="answerOption" />
                                    <input type="button" ng-click="deleteAnswerOption($index, question)" value="remove" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <input type="button" ng-click="removeQuestion(survey, $index)" value="remove question"/>
                </div>
                <input type="submit" ng-click="updateSurveyQuestions(survey)" value="Submit" />
            </form>
        </accordion-group>
    </accordion>
</div>