<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
    Choose a survey from the list below:
    <br/>
    <button class="btn btn-success btn-sm" ng-click="addSurvey()"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add Survey</button>
    <accordion close-others="oneAtATime">
        <accordion-group heading={{survey.Name}} ng-repeat="survey in allSurveys" style="cursor: pointer;">
            <form novalidate class="css-form">
                <button class="btn btn-danger btn-sm" ng-click="removeSurvey(survey)"><span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span> Remove Survey</button>
                <button class="btn btn-success btn-sm" ng-click="addQuestion(survey)"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add Question</button>
                <div class="well">
                        <p>Survey Name:</p>
                        <input type="text" ng-model="survey.Name"/>
                    </div>
                <div class="well" ng-repeat="question in survey.QuestionAnswers">
                    <div>
                        <button class="btn btn-danger btn-sm" ng-click="removeQuestion(survey, $index)"><span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span> Remove Question</button>
                    </div>
                    <div>
                        <p>Question Text:</p>
                        <textarea type="text" ng-model="question.Question" />
                    </div>
                    <div class="btn-group">
                        <p>Choose Response Type:</p>
                        <span>
                            <input type="radio" value="YesNo" ng-model="question.AnswerType"/>YesNo<br/>
                            <input type="radio" value="Text" ng-model="question.AnswerType"/>Text<br/>
                            <input type="radio" value="Dropdown" ng-model="question.AnswerType"/>Dropdown<br/>
                        </span>
                        <div class="btn-group">
                            <div ng-show="question.AnswerType == 'YesNo'">
                                <button class="btn btn-success btn-xs" ng-click="addAnswerOption(question)"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add Answer Option</button>
                                <div ng-repeat="answerOption in question.AnswerOptions track by $index">
                                    <input type="text" ng-model="question.AnswerOptions[$index]" value="answerOption" />
                                    <button class="btn btn-danger btn-xs" ng-click="deleteAnswerOption($index, question)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                                </div>
                            </div>
                            <div ng-show="question.AnswerType == 'Dropdown'">
                                <button class="btn btn-success btn-xs" ng-click="addAnswerOption(question)"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add Answer Option</button>
                                <div ng-repeat="answerOption in question.AnswerOptions  track by $index">
                                    <input type="text" ng-model="question.AnswerOptions[$index]" value="answerOption" />
                                    <button class="btn btn-danger btn-xs" ng-click="deleteAnswerOption($index, question)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary" ng-click="updateSurveyQuestions(survey)"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Submit</button>
                <!--<input type="submit" ng-click="updateSurveyQuestions(survey)" value="Submit" />-->
            </form>
        </accordion-group>
    </accordion>
</div>