<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
    <form novalidate class="css-form">
        <p ng-model="locallyStoredCompletedSurveys">
            There are currently {{locallyStoredCompletedSurveys}} locally stored surveys
        </p>
        <div ng-if="locallyStoredCompletedSurveys != 0">
            <button class="btn btn-primary" ng-click="submitAllCompletedSurveys()"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Submit To Server</button>
        </div>
    </form>
</div>